body {
  background-image: url(images/pexels-ben-mack-5326948.jpg);
  background-color: rgb(247, 249, 250, 0.8);
  background-size: cover;
  background-position: 50%;
  font-family: "DM Serif Text", serif;
}

.calculator {
  width: 1200px;
  height: 100vh;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.calculator-container {
  background-color: rgba(158, 177, 219, 0.05);
  box-shadow: 35px 35px 40px rgba(0, 0, 0, 0.4);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 2px solid rgba(255, 255, 255, 0.2);
  width: 540px;
  height: 720px;
  /* padding: 5px; */
  border-radius: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.calc-title {
  font-size: 60px;
  color: white;
  padding: 10px;
  text-align: center;
  margin-top: -20px;
  text-shadow: 3px 3px 6px rgba(4, 43, 50, 1);
}

.calc-result {
  background-color: rgba(255, 255, 255, 0.311);
  box-shadow: 0px 5px 30px rgba(13, 58, 100, 0.3);
  box-shadow: inset 5px 5px 15px rgba(24, 73, 120, 0.7);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border: 0px solid rgba(255, 255, 255, 0.2);
  margin-bottom: 20px;
  font-size: 50px;
  text-align: right;
}

.calculator-buttons {
  /* background: rgb(255, 255, 255, 0.6); */
  width: 495px;
  height: 485px;
  display: grid;
  row-gap: 6px;
  column-gap: 6px;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 0.5) 30%,
    rgba(118, 231, 254, 0.1) 70%
  );
  font-size: 30px;
  color: rgb(5, 21, 23);
  border-radius: 5%;
  box-shadow: 0 10px 30px rgba(13, 58, 100, 0.3);
  backdrop-filter: blur(20px);
  -webkit-backdrop-filter: blur(20px);
  border: 1px solid rgba(255, 255, 255, 0.3);
}

.button:hover {
  background: linear-gradient(
    170deg,
    rgba(255, 255, 255, 0.648) 10%,
    rgba(42, 123, 156, 0.8) 80%
  );
  transition-duration: 1000ms;
}

.all-clear {
  grid-column: span 2;
}

.buttonDot {
  border-bottom-left-radius: 20%;
}

.buttonEquals {
  grid-column: span 2;
  border-bottom-right-radius: 10%;
}
